*, *:before, *:after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  
  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.border-top {
  width: 100%;
  height: 0.75em;
  top: 0;
  width: 0;
  -webkit-animation: ani-width ease-in-out 0.5s 0s both;
          animation: ani-width ease-in-out 0.5s 0s both;
}
.border-top:after {
  content: '';
  bottom: 0;
  width: 100%;
  height: 0.75em;
  right: 0;
  -webkit-animation: ani-width ease-in-out 0.5s 1s both;
          animation: ani-width ease-in-out 0.5s 1s both;
}

.border-left {
  height: 100%;
  width: 0.75em;
  left: 0;
  bottom: 0;
  -webkit-animation: ani-height ease-in-out 0.5s 1.5s both;
          animation: ani-height ease-in-out 0.5s 1.5s both;
}
.border-left:after {
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  width: 0.75em;
  -webkit-animation: ani-height ease-in-out 0.5s 0.5s both;
          animation: ani-height ease-in-out 0.5s 0.5s both;
}

.border-top,
.border-top:after,
.border-left,
.border-left:after {
  position: fixed;
  z-index: 9;
  background-color: #fff;
}

a{
  text-decoration: none;
  color:white


}

a:hover{
  color:grey;
}

h2 {
  font-family: 'Marcellus SC', serif;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.2;
}
@media (min-width: 32em) {
  h2 {
    font-size: 4em;
  }
}

h3 {
  font-family:'Julius Sans One', sans-serif;
  font-weight: 700;
  font-size: 1.35em;
  line-height: 1.2;
}
@media (min-width: 32em) {
  h3 {
    font-size: 1.35em;
  }
}

#aboutText{
  width: 50%;
  margin-left: 25%;
}

h5 {
  font-family:'Julius Sans One', sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2;
}
@media (min-width: 32em) {
  h5 {
    font-size: 2em;
  }
}

hr.sep {
  border: 0px;
  height: 1px;
  background: #fff;
  margin: 1.4em auto;
  width: 3em;
}

#missionStatement{
  width:50%;
  margin-left: 25%
}

.stackoverflow{
  position:absolute;
  top: -35%;
  left:14%;
  /*top:-700px;*/
}

.stackoverflow1{
  position:absolute;
  top: -42%;
  left:14%;
  /*top:-700px;*/
}


.stackoverflow2{
  position:absolute;
  top: -28%;
  left:14%;
  /*top:-700px;*/
}

main > section:nth-child(1):not(.site-menu), main > article:nth-child(1):not(.site-menu) {
  z-index: 2;
}
main > section:nth-child(2):not(.site-menu), main > article:nth-child(2):not(.site-menu) {
  z-index: 3;
}
main > section:nth-child(3):not(.site-menu), main > article:nth-child(3):not(.site-menu) {
  z-index: 4;
}

main > section:nth-child(4):not(.site-menu), main > article:nth-child(4):not(.site-menu) {
  z-index: 5;
}

.mast {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  margin-bottom: 1em;
}
.mast:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.mast1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  margin-bottom: 1em;
}
.mast1:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.mast__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-size: cover;
  background-color: #111;
  -webkit-animation: fade-in 1s ease both;
          animation: fade-in 1s ease both;
}
.mast__header {
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 30%;
  text-align: center;
  -webkit-animation: fade-in 2s 1.5s ease both;
          animation: fade-in 2s 1.5s ease both;
}
.mast__pretitle {
  margin-bottom: 0.5em;
    font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes ani-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes ani-height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes ani-height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#logo{
  position:relative;
  height:200px;
  width: 200px;
  top:-100%;
}

#tech{
  opacity: 0;
   -webkit-animation: fadeinout 3.2s; /* Safari, Chrome and Opera > 12.1 */
   -webkit-animation-delay:3s;
       -moz-animation: fadeinout 3.2s; /* Firefox < 16 */
       -moz-animation-delay:3s;
        -ms-animation: fadeinout 3.2s; /* Internet Explorer */
        -ms-animation-delay: 3s;
         -o-animation: fadeinout 3.2s; /* Opera < 12.1 */
         -o-animation-delay:3s;
            animation: fadeinout 3.2s;
            animation-delay: 3s
}

#problems{
  opacity:0;
  webkit-animation: fadeinout 2.9s; /* Safari, Chrome and Opera > 12.1 */
   -webkit-animation-delay:3.3s;
       -moz-animation: fadeinout 2.9s; /* Firefox < 16 */
        -moz-animation-delay:3.3s;
        -ms-animation: fadeinout 2.9s; /* Internet Explorer */\
        -ms-animation-delay:3.3s;
         -o-animation: fadeinout 2.9s; /* Opera < 12.1 */
         -o-animation-delay:3.3s;
            animation: fadeinout 2.9s;
            animation-delay:3.3s;
  

}

#elegant{
  opacity:0;
  webkit-animation: fadeinout 2.3s; /* Safari, Chrome and Opera > 12.1 */
   -webkit-animation-delay:3.9s;
       -moz-animation: fadeinout 2.3s; /* Firefox < 16 */
        -moz-animation-delay:3.9s;
        -ms-animation: fadeinout 2.3s; /* Internet Explorer */
        -ms-animation-delay:3.3s;
         -o-animation: fadeinout 2.3s; /* Opera < 12.1 */
         -o-animation-delay:3.9s;
            animation: fadeinout 2.3s;
            animation-delay:3.9s;

}

#solutions{
  opacity:0;
  webkit-animation: fadeinout 2s; /* Safari, Chrome and Opera > 12.1 */
   -webkit-animation-delay:4.2s;
       -moz-animation: fadeinout 2s; /* Firefox < 16 */
        -moz-animation-delay:4.2s;
        -ms-animation: fadeinout 2s; /* Internet Explorer */
        -ms-animation-delay:4.2s;
         -o-animation: fadeinout 2s; /* Opera < 12.1 */
         -o-animation-delay:4.2s;
            animation: fadeinout 2s;
            animation-delay:4.2s;
}

#mission{
  opacity: 0;
    opacity: 0;
   -webkit-animation: fadeinout 3.2s; /* Safari, Chrome and Opera > 12.1 */
   -webkit-animation-delay:3s;
       -moz-animation: fadeinout 3.2s; /* Firefox < 16 */
       -moz-animation-delay:3s;
        -ms-animation: fadeinout 3.2s; /* Internet Explorer */
        -ms-animation-delay: 3s;
         -o-animation: fadeinout 3.2s; /* Opera < 12.1 */
         -o-animation-delay:3s;
            animation: fadeinout 3.2s;
            animation-delay: 3s
}

.writting{
  width:50%;
  position: relative;
  left:25%;
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
    50%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
    50%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
    50%   { opacity: 1; }
}

.dotnav-right {
            right: 10px;
            top: 50%;
            margin-top: -50px;
            height: 100px;
            z-index: 999;
            position: fixed;
        }

        .dotnav {
            padding: 0;
            list-style: none;
            font-size: 0.001px;
        }

        .dotnav > li {
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
        }
        .dotnav > li:nth-child(n+2) {
            margin-left: 15px;
        }

        .dotnav > li > a {
            display: inline-block;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #66ccff;
            vertical-align: top;
            overflow: hidden;
            padding: 0;
            text-indent: -999%;
        }
        .dotnav > li > a:hover,
        .dotnav > li > a:focus {
            background: #66ccff;
            outline: none;
        }
        .dotnav > li > a:active {
            background: #66ccff;
        }
        .dotnav > li.active > a {
            background: #66ccff;
        }
        .dotnav-vertical > li {
            display: block;
            margin-right:10px;
        }
        .dotnav-vertical > li:nth-child(n+2) {
            margin-left: 0;
            margin-top: 10px;
        }
        .awesome-tooltip + .tooltip > .tooltip-inner {
            background-color: #66ccff; 
            color: #fff; 
            border: 1px solid #66ccff; 
        }
        .awesome-tooltip + .tooltip.left > .tooltip-arrow{
            top:50%;
            right:0;
            margin-top:-5px;
            border-top:5px solid transparent;
            border-bottom:5px solid transparent;
            border-left:5px solid #66ccff;
        }

        #projects{
          background-image:url(https://raw.githubusercontent.com/bernerd252/egbdigital1/master/images/projectsBackground.jpg)
        }